{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Добро пожаловать на FlowerDelivery!</h1>
<p>Мы рады предложить вам удобный и быстрый способ заказать цветы онлайн. Ознакомьтесь с нашими основными функциями и специальными предложениями ниже.</p>

<h2>Основные категории</h2>
<ul>
    <li><a href="#">Все цветы</a></li>
    <li><a href="#">Розы</a></li>
    <li><a href="#">Тюльпаны</a></li>
</ul>

<h2>Рекламные предложения</h2>
<ul>
    <li><a href="#">Скидка 10% на букеты до 1 сентября!</a></li>
    <li><a href="#">Бесплатная доставка при заказе от 5000 рублей</a></li>
</ul>
{% endblock %}
